.main-container {
    background-color: white;
    min-height: 100%;
}

.form-container {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    min-width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.25rem;
}

i {
    color: #007ad9;
}

@media(max-width: 767px) {
    .form-container{
        padding: 1rem;
    }
}

@media(min-width: 768px) {
    .form-container{
        padding: 1.5rem 3rem;
    }
}

::ng-deep .p-steps .p-menuitem-link {
    text-decoration: none;
}

::ng-deep .p-steps .p-steps-number {
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

::ng-deep .p-steps .p-steps-current .p-steps-number {
    background-color: #007ad9;
    color: white;
}

::ng-deep .p-steps .p-steps-title {
    color: #333;
    margin-top: -3px;
}

::ng-deep .p-steps .p-steps-item:nth-child(1)::before {
    left: 125px;
}

::ng-deep .p-steps .p-steps-item:last-child::before {
    left: -60px;
}

::ng-deep .p-menuitem-link:hover {
    cursor: pointer;
}