<div class="main-container h-auto">
  <app-header></app-header>

  <!-- Stepper for larger screen -->
  <div class="d-none d-md-block">
    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
  </div>

  <!-- Stepper for mobile -->
  <div class="d-flex d-md-none align-items-center justify-content-center fs-25">
    <i (click)="previousClicked()" *ngIf="activeIndex > 0" class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
    <div class="mx-3">{{items[activeIndex].label}}</div>
    <i (click)="nextButonClicked()" *ngIf="activeIndex < 5" class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
  </div>

  <div class="h-auto">
    <div class="d-flex justify-content-center align-items-center">
      <ng-container [ngSwitch]="activeIndex">
        <div [ngClass]="{'form-container': activeIndex != 6, 'w-100': activeIndex == 6 }">
          <app-personal-information-form *ngSwitchCase="0" (nextButonClicked)="nextButonClicked()" (previousClicked)="previousClicked()"></app-personal-information-form>
          <app-education-details-form *ngSwitchCase="1" (nextButonClicked)="nextButonClicked()" (previousClicked)="previousClicked()"></app-education-details-form>
          <app-work-experience-form *ngSwitchCase="2" (nextButonClicked)="nextButonClicked()" (previousClicked)="previousClicked()"></app-work-experience-form>
          <app-skill-details-form *ngSwitchCase="3" (nextButonClicked)="nextButonClicked()" (previousClicked)="previousClicked()"></app-skill-details-form>
          <app-project-details-form *ngSwitchCase="4" (nextButonClicked)="nextButonClicked()" (previousClicked)="previousClicked()"></app-project-details-form>
          <app-summary-details-form *ngSwitchCase="5" (nextButonClicked)="nextButonClicked()" (previousClicked)="previousClicked()"></app-summary-details-form>
          <app-resume-review *ngSwitchCase="6" (previousClicked)="previousClicked()"></app-resume-review>
        </div>
      </ng-container>
    </div>
  </div>
</div>