.outer {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(6, 189, 206, 1) 50%, rgba(88, 88, 224, 1) 100%);;
    min-height: 60px;
    color: white;
    font-family: cursive;
}