<div class="container">
    <div class="text-center fw-bold fs-5 mb-3 d-none d-md-block">Skills</div>


    <form [formGroup]="skillsForm">
        <div class="fw-bold">Please mention your skills (Use comma to break the line)</div>
        <textarea formControlName="skills" rows="5" class="col-12 mt-2"
            placeholder="Please mention your skills"></textarea>

        <div class="validationError fw-bold"
            *ngIf="skillsForm.get('skills')?.touched && skillsForm.get('skills')?.errors?.['required']">Skills is
            required</div>
    </form>

    <!-- Previous and Next Buttons -->
    <div class="mt-5 d-flex justify-content-between w-100">
        <button class="button btn-previous" (click)=previous() title="Previous">Previous</button>

        <button class="button btn-next" (click)=submitAndNext()
            [title]="skillsForm.valid ? 'Submit and Next' : 'Invalid Form'">Submit & Next</button>
    </div>
</div>