.download-container {
    width: 794px; // A4 width
    border: 1px solid black;
    box-sizing: border-box;
    background: white;
}

.imagePreview {
    max-width: 150px;
}

.details-heading {
    background-color: #23c6b1;
    color: white;
    margin-top: 12px;
    padding: 5px;
    border-radius: 4px;
}

.description-container {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.degree {
    text-decoration: underline;
}

.download-btn-container {
    width: 794px;
}

.downloading-text {
    color: #2f9eff;
    border: none;
}